/*-------------- about -----------------*/
.about{
	&__img{
		display: flex;
		justify-content: flex-end;
		position: relative;
		margin-left: -215px;
	}

	&__img_right{
		justify-content: flex-start;
		padding-right: 25px;
		margin-left: 100px;
		margin-right: -215px;

		img{margin-left: -45px;}
	}
}

@media (max-width: 1700px) {
	.about{
		&__img{margin-left: 0;}

		&__img_right{
			margin-right: 0;
			img{margin-left: 0;}
		}
	}
}

@media (max-width: 991px) {
	.about{
		&__img{margin-right: 0;}
	}
}

@media (max-width: 767px) {
	.about{
		&__img{
			max-width: 80%;
			margin: 0 auto 30px;
		}
	}
}