/*-------------- contacts -----------------*/
.contacts{
	background: linear-gradient(270deg, #008CDA 0%, #006AA5 100%);
	border-radius: 0px 0px 46px 0px;
	padding: 122px 215px 112px;
	position: relative;
	color: #fff;
	border-radius: 0 0 46px 46px;
	overflow: hidden;

	h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5, a{color: #fff;}
	.icon{fill: #fff;}

	.form-site{
		margin-top: 60px;

		&__label{
			background: rgba(0, 129, 200, 0.7);
			color: #fff;
		}

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="date"],
		input[type="password"],
		textarea{
			color: #fff;
		}
	}

	.input-check{
		color: inherit;
		&__mark{border-color: #fff;}
		.icon{fill: var(--color-secondary);}
		input[type=checkbox]:checked ~ .input-check__mark{background: #fff;}
	}
}

.contacts-info{
	margin-top: 58px;

	&__item{
		display: flex;
		gap: 16px;
	}

	&__item:not(:last-child){margin-bottom: 21px;}

	&__icon{
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		width: 20px;
		height: 26px;
	}

	&__phone{
		font-size: 1.9rem;
		font-weight: bold;
		text-decoration: none;
	}

	&__mail{font-weight: bold;}
}

@media (max-width: 1700px) {
	.contacts{
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (max-width: 991px) {
	.contacts{
		padding: 50px 30px;

		h2, .h2{margin-bottom: 2rem;}
		.form-site{margin-top: 20px;}
	}

	.contacts-info{
		margin-top: 20px;
		margin-bottom: 50px;
	}
}

@media (max-width: 767px) {
	.contacts{padding: 30px 15px;}

	.contacts-info{
		&__phone{font-size: 1.7rem;}
	}
}