/*-------------- form-search -----------------*/
.form-search{
	width: 230px;
	position: relative;

	input[type="text"]{
		display: inline-flex;
		align-items: center;
		width: 100%;
		height: 3rem;
		border-radius: 2.5rem;
		padding-right: 40px;
		font-family: $font-site;
		@include font(none, none, 1.3rem, 1.2, $color-text);
		padding: 0 40px 0 20px;
		margin: 0;
		border: 1px solid var(--color-grey);
		outline: 0;
		background: var(--color-grey);
		transition: border 0.2s ease 0s;

		&:focus{border-color: $color-primary;}
	}

	input[type="submit"],
	button{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 100%;
		background: transparent;
		border-radius: 0 1.5rem 1.5rem 0;
		position: absolute;
		right: 0;
		@include top-center;
		font-size: 0;
		border: 0;
		outline: 0;
		box-shadow: none;
		padding: 0;
		margin-top: 1px;
		cursor: pointer;
	}

	button .icon{fill: var(--color-text);}

	&_white input[type="text"]{
		color: #fff;
		border-color: transparent;
		background: rgba(255,255,255,0.2);
	}

	&_white input[type="text"]:focus{border-color: #fff;}

	&_white button .icon,
	&_white input[type="text"]:focus+button .icon{
		fill: var(--color-secondary);
	}
}
