/*-------------- hamburger -----------------*/
.ic-hamburger{
	flex-shrink: 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 20px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	cursor: pointer;

	&:focus{outline: none;}
	
	span {
		display: block;
		width: calc(100% - 4px);
		height: 2px;
		position: absolute;
		top: 8px;
		left: 2px;
		background: var(--color-text);
		border-radius: 1px;
		transition: background 0.2s ease 0s;
	}
	
	span::before,
	span::after {
		content: "";
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		background: var(--color-text);
		border-radius: 1px;
		transition: background 0.2s ease 0s;
	}
	
	span::before{top: -8px;}
	span::after{bottom: -8px;}
	
	span::before {transition: top 0.3s ease 0.3s, transform 0.3s ease 0s;}
	span::after {transition: bottom 0.3s ease 0.3s, transform 0.3s ease 0s;}
	
	&.active span {
		background: none;
		top: 14px;
	}

	&.active{
		width: 30px;
		height: 30px;
	}
	
	&.active span::before {
		top: 0;
		transform: rotate(45deg);
	}
	
	&.active span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}
	
	&.active span::before {transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;}
	&.active span::after {transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;}
}