/*-------------- reviews -----------------*/
.reviews-slider-wrap{
	h2, .h2{margin-bottom: 40px;}
}

.reviews-slider{
	display: none;

	&.slick-initialized{display: block;}
	.slick-track{display: flex;}
	.slick-slide{height: auto;}

	.slick-list{
		margin-left: -15px;
		margin-right: -15px;
	}

	.slick-slide > div,
	.review-item{
		height: 100%;
	}

	.slick-slide{margin: 20px 15px;}
	.review-item{display: flex!important;}
}

.review-item{
	display: flex;
	gap: 30px;
	background: #FFFFFF;
	box-shadow: 0px 16px 22px rgba(0, 0, 0, 0.04);
	border-radius: 22px;
	padding: 40px;

	&__img{
		flex-shrink: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__top{
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	&__name{
		@include font(none, bold, 1.3rem, 1.4, #000);
	}

	&__date{
		@include font(none, none, 1.1rem, 1.4, #adadad);
	}

	&__company{
		@include font(none, none, 1.3rem, 1.4, #747474);
		margin-top: 5px;
	}

	.rating{margin-top: 22px;}

	&__text{margin-top: 20px;}
}

.more-text{
	&__content{
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__link{
		display: inline-flex;
		align-items: center;
		gap: 10px;
		@include font(none, none, 1.3rem, 1.2, #696969);
		margin-top: 24px;
		transition: color 0.2s ease 0s;
		cursor: pointer;
	
		.icon{
			fill: #696969;
			transition: all 0.2s ease 0s;
		}
	
		&:hover{color: var(--color-primary);}
		&:hover .icon{fill: var(--color-primary);}
	}
	
	&.open &__link .icon{transform: rotate(180deg);}
	&.open &__content{
		-webkit-line-clamp: inherit;;
		overflow: visible;
	}
}

@media (min-width: 1450px) {
	.reviews-slider{
		padding-bottom: 0;

		.btn-arr{
			width: 68px;
			height: 40px;
			background: transparent;
			border: 1px solid var(--color-primary);
			border-radius: 20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.2s ease 0s;
	
			&_left{left: -110px;}
			&_right{right: -110px;}
	
			.icon{
				width: 6px;
				height: 10px;
				fill: var(--color-primary);
				transition: fill 0.2s ease 0s;
			}
	
			&:hover{
				background: var(--color-primary-hover);
				border-color: var(--color-primary-hover);
	
				.icon{fill: #fff;}
			}
		}
	}
}

@media (max-width: 1449px) {
	.reviews-slider{padding-bottom: 80px;}
}

@media (max-width: 767px) {
	.review-item{
		padding: 15px;

		&__img{
			width: 60px;
			height: 60px;
		}

		&__top{display: block;}
		&__date{margin-top: 5px;}
	}
}