/*-------------- table-site -----------------*/
.table-site{
	width: 100%;
	font-size: 1.3rem;
	line-height: 1.4;

	th,
	td{
		padding: 21px 10px;
	}

	th:not(:last-child),
	td:not(:last-child){
		border-right: 1px solid #e8eeff;
	}

	th{
		font-weight: bold;
		color: #fff;
		background: var(--color-primary);
	}

	tbody tr:nth-child(odd){background: rgba(93, 137, 236, 0.05);}
	tbody tr td:first-child{background: rgba(93, 137, 236, 0.05);}

	&.text-center th,
	&.text-center td{
		text-align: center;
	}

	&_fixed{table-layout: fixed;}
}