/*-------------- top-block -----------------*/
.top-block{
	border-radius: 0 0 0 46px;
	background: var(--bg-site) url(../img/bg-top-block.jpg) no-repeat 0 0;
	background-size: cover;
	background-attachment: fixed;
	padding: 76px 215px;

	&__content{
		color: #fff;

		h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{color: inherit;}

		.btn{margin-top: 50px;}
	}

	&__text{
		padding-left: 35px;
		position: relative;

		&::before{
			content: '';
			display: inline-block;
			width: 17px;
			height: 17px;
			border-radius: 50%;
			border: 3px solid var(--color-primary);
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

@media (max-width: 1700px) {
	.top-block{
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (max-width: 991px) {
	.top-block{
		padding: 50px 30px;

		.form-page{
			margin-top: 40px;
			padding: 50px 30px;
		}
	}
}

@media (max-width: 767px) {
	.top-block{
		padding: 30px 15px;

		.form-page{padding: 30px 15px;}
	}
}