/*-------------- top-block -----------------*/
.top-block{
	border-radius: 0 0 0 46px;
	background: var(--bg-site) url(../img/bg-top-block.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 76px 215px;

	&__content{
		.btn{margin-top: 50px;}
	}

	&__text{
		padding-left: 35px;
		padding-right: 85px;
		position: relative;
	}

	&__icon{
		display: inline-block;
		width: 17px;
		position: absolute;
		top: 0;
		left: 0;

		.icon{
			max-width: 100%;
			fill: var(--color-primary);
		}
	}
}

@media (max-width: 1700px) {
	.top-block{
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (max-width: 991px) {
	.top-block{
		padding: 50px 30px;

		&__text{padding-right: 0;}

		.form-page{
			margin-top: 40px;
			padding: 50px 30px;
		}
	}
}

@media (max-width: 767px) {
	.top-block{
		padding: 30px 15px;

		.form-page{padding: 30px 15px;}
	}
}