/* footer */
.footer{
	background: var(--footer-bg);
	color: var(--footer-color);
	padding: 40px 0;

	&__copyright{font-size: 1.4rem;}

	&__logo{
		margin-bottom: 23px;

		img{max-width: 135px;}
	}

	&__polit{font-size: 1.3rem;}

	.social{margin-top: 30px;}
}

.footer-menu{
	&,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&{
		column-count: 2;
		gap: 30px;
	}

	&__item{
		margin-bottom: 6px;
	}

	&__link{
		color: inherit;
		text-decoration: none;
		font-size: 1.2rem;
		transition: all 0.2s ease 0s;

		&::before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 2px;
			height: 2px;
			border-radius: 50%;
			background: #fff;
			margin-left: -11px;
			margin-right: 9px;
		}

		&:hover{color: var(--color-primery-hover);}
	}
}

.footer-contacts-wrap{
	display: flex;
	justify-content: space-between;
	gap: 30px;

	.btn{white-space: nowrap;}
}

.footer-contacts{
	&__item{margin-bottom: 20px;}
	&__label{font-weight: 600;}
}

.footer-phone{
	display: flex;
	gap: 10px;

	&__icon{
		flex-shrink: 0;

		.icon{fill: var(--footer-color);}
	}

	&__item{
		font-size: 1.8rem;

		b{font-weight: 600;}

		a{
			color: var(--footer-color);
			text-decoration: none;
			transition: color 0.2s ease 0s;
		}

		&:hover{color: $color-primary-hover;}
	}
}

.footer-mail{
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-bottom: 10px;
	font-size: 1.7rem;

	&__icon{
		flex-shrink: 0;

		.icon{fill: var(--footer-color);}
	}

	a{
		color: var(--footer-color);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&:hover{color: $color-primary-hover;}
}

.footer-dev{
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	gap: 5px;
	font-size: 1.2rem;

	img{
		flex-shrink: 0;
		max-width: 74px;
	}
}

.social{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	text-decoration: none;
	
	&__item{
		transition: opacity 0.2s ease 0s;
		:hover{opacity: 0.6;}
	}
}

@media (max-width: 1239px) {
	.footer-contacts-wrap{flex-direction: column;}
}

@media (max-width: 767px) {
	.footer-menu{
		margin-top: 30px;
		column-count: auto;
	}

	.footer-contacts{
		margin-top: 30px;
		text-align: left;
	}

	.footer-phone,
	.footer-mail{
		justify-content: flex-start;
		font-size: 1.6rem;
	}

	.footer-dev{margin-top: 30px;}
}