
:root {
	--color-text: #323232;
	--color-grey: #808080;
	--color-primary: #55bf00;
	--color-primary-hover: #73d921;
	--color-secondary: #0099cc;
	--color-secondary-hover: #44bce3;
	--color-error: #ff0000;
	--bg-site: #2b4055;
	--footer-bg: #2b4055;
	--footer-color: #fff;
}


html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.6, var(--color-text));
	box-sizing:border-box;
}

body{font-size: 1.5rem;}

body.no-scroll{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

.st-width{
	margin-left: -215px;
	margin-right: -215px;
}

img{max-width: 100%;}

a{
	color: var(--color-primary);
	text-decoration: underline;
	transition: color 0.2s ease 0s;
}

a:hover{
	color: var(--color-primary-hover);
	text-decoration: none;
}

p{
	padding: 0;
	margin-bottom: 1.2rem;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{color: #000;}

h1,.h1{
	font-size: 4rem;
	line-height: 1.4;
	margin-bottom: 4rem;
}

h2,.h2{
	font-size: 3.2rem;
	line-height: 1.4;
	margin-bottom: 6rem;
}

h3,.h3{
	font-size: 2.6rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

h4,.h4{
	font-size: 2rem;
	margin-bottom: 2rem;
}

h5,.h5{
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}

p+.btn,
ol+.btn,
ul+.btn{
	margin-top: 30px;
}

h2+p, .h2+p,
h2+ul, .h2+ul,
h2+ol, .h2+ol{
	margin-top: -3.2rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 200px;
	width: 100%;
}

.last-elem{margin-bottom: -200px;}

.m-indent{
	margin-top: 200px;
	margin-bottom: 200px;
}

.mt-indent{margin-top: 200px;}
.mb-indent{margin-bottom: 200px;}

.p-indent{
	padding-top: 200px;
	padding-bottom: 200px;
}

.pt-indent{padding-top: 200px;}
.pb-indent{padding-bottom: 200px;}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	height: 6.8rem;
	border-radius: 3.4rem;
	border: 1px solid var(--color-primary);
	background: var(--color-primary);
	@include font(none, bold, 1.5rem, 1.3, #fff);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 60px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	transition: all 0.2s ease 0s;

	.icon{
		flex-shrink: 0;
		transition: fill 0.2s ease 0s;
		fill: #fff;
	}

	&:hover{
		color: #fff;
		border-color: var(--color-primary-hover);
		box-shadow: inset 0 -5.8em 0 0 var(--color-primary-hover);

		.icon{fill: #fff;}
	}

	&_secondary{
		background: var(--color-secondary);
		border-color: var(--color-secondary);

		&:hover{
			border-color: var(--color-secondary-hover);
			box-shadow: inset 0 -5.8em 0 0 var(--color-secondary-hover);
		}
	}

	&_white{
		background: #fff;
		border-color: #fff;
		color: var(--color-secondary);

		&:hover{
			border-color: var(--color-secondary-hover);
			box-shadow: inset 0 -5.8em 0 0 var(--color-secondary-hover);
			color: #fff;
		}
	}

	&_border{
		color: var(--color-primary);
		background: transparent;
		.icon{fill: var(--color-primary);}
	}

	&_border-white{
		color: #fff;
		background: transparent;
		border-color: #fff;

		.icon{fill: #fff;}
	}

	&_border-white:hover{
		color: var(--color-secondary);
		border-color: #fff;
		box-shadow: inset 0 -4.8em 0 0 #fff;

		.icon{fill: var(--color-secondary);}
	}

	&_big{
		height: 8.6rem;
		border-radius: 4.3rem;
		padding: 0 70px;
	}
	
	&_small{
		height: 5.2rem;
		border-radius: 2.6rem;
		font-size: 1.3rem;
		padding: 0 50px;
	}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

@media (max-width: 1700px) {
	.st-width{
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 1239px) {
	.h1, h1{font-size: 3.8rem;}
}

@media (max-width: 991px) {
	h1,.h1{font-size: 3.2rem;}
	h2,.h2{font-size: 2.8rem;}
	h3,.h3{font-size: 2.4rem;}
	h4,.h4{font-size: 1.8rem;}
	h5,.h5{font-size: 1.6rem;}

	.m-indent{
		margin-top: 100px;
		margin-bottom: 100px;
	}
	
	.mt-indent{margin-top: 100px;}
	.mb-indent{margin-bottom: 100px;}
	
	.p-indent{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	
	.pt-indent{padding-top: 100px;}
	.pb-indent{padding-bottom: 100px;}

	main{padding-bottom: 100px;}
	.last-elem{margin-bottom: -100px;}
}

@media (max-width: 767px) {
	body .container, body .container-sm{
		width: 100%!important;
		max-width: none;
	}

	body{font-size: 1.4rem;}

	h1,.h1{font-size: 2.6rem;}
	h2,.h2{font-size: 2.4rem;}
	h3,.h3{font-size: 2.1rem;}
	h4,.h4{font-size: 1.8rem;}
	h5,.h5{font-size: 1.6rem;}

	.m-indent{
		margin-top: 60px;
		margin-bottom: 60px;
	}
	
	.mt-indent{margin-top: 60px;}
	.mb-indent{margin-bottom: 60px;}
	
	.p-indent{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	.pt-indent{padding-top: 60px;}
	.pb-indent{padding-bottom: 60px;}

	main{padding-bottom: 60px;}
	.last-elem{margin-bottom: -60px;}

	.btn,
	input[type="submit"].btn,
	button.btn{
		height: 5rem;
		border-radius: 2.5rem;
		font-size: 1.3rem;
		padding: 0 30px;

		&_big{
			height: 6rem;
			border-radius: 3rem;
			padding: 0 40px;
		}
		
		&_small{
			height: 4rem;
			border-radius: 2rem;
			font-size: 1.2rem;
			padding: 0 20px;
		}
	}
}