/* theme */
:root {
	--color-text: #323232;
	--color-grey: #808080;
	--color-primary: #55bf00;
	--color-primary-hover: #73d921;
	--color-secondary: #0099cc;
	--color-secondary-hover: #44bce3;
	--color-bg: #2b4055;
}

body{color: var(--color-text);}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{color: #000;}
a{color: var(--color-primary);}
a:hover{color: var(--color-primary-hover);}

.btn,
input[type="submit"].btn,
button.btn{
	background: var(--color-primary);
	border: 1px solid var(--color-primary);
	color: #fff;

	.icon{fill: #fff;}

	&:hover{
		color: #fff;
		border-color: var(--color-primary-hover);
		box-shadow: inset 0 -5.8em 0 0 var(--color-primary-hover);

		.icon{fill: #fff;}
	}

	&_border{
		color: var(--color-primary);
		background: transparent;
		.icon{fill: var(--color-primary);}
	}

	&_border-white{
		color: #fff;
		background: transparent;
		border-color: #fff;

		.icon{fill: #fff;}
	}

	&_border-white:hover{
		color: var(--color-secondary);
		border-color: #fff;
		box-shadow: inset 0 -4.8em 0 0 #fff;

		.icon{fill: var(--color-secondary);}
	}
}
