footer.footer
	.container
		.row
			.col-md-4
				.footer__logo
					img(src="assets/img/logo.png", alt="")

				.footer__address Московская область, г. Норильск, мкрн.&nbsp;"Красный Электрик", ул.&nbsp;Парковая, д.&nbsp;1, корп.&nbsp;1
				
				.footer-contacts
					.footer-phone
						.footer-phone__icon
							+svg('ic-phone','ic-phone', '19', '20')

						.footer-phone__content
							.footer-phone__item
								a(href="tel:+78005009647") <b>+7 (495)</b> 105-98-54
							.footer-phone__item
								a(href="tel:+78127038347") <b>+7 (926)</b> 536-90-11
					
					.footer-mail
						.footer-mail__icon
							+svg('ic-mail','ic-mail', '18', '15')
						.footer-mail__content
							a(href="mailto:zakaz@semtreugolnikov.ru") zakaz@semtreugolnikov.ru

					.footer-time
						.footer-time__icon
							+svg('ic-clock','ic-clock', '18', '17')
						.footer-time__content
							|Время работы
							br
							|с 9:00 до 18:00

			.col-md-4
				.footer__title Наши услуги

				ul.footer-menu
					-
						var list=[
							{text:'Гибка металла'},
							{text:'Лазерная резка металла'},
							{text:'Изготовление деталей и изделий'},
							{text:'Металлобработка'},
							{text:'Обработка труб'},
							{text:'Порошковая покраска'},
							{text:'Сварка металла'},
						]
					each item in list
						li.footer-menu__item
							a(href="#").footer-menu__link= item.text

			.col-md-4
				.footer__title Семь треугольников

				ul.footer-menu
					-
						var list=[
							{text:'О компании'},
							{text:'Продукция'},
							{text:'Реквизиты'},
							{text:'Отзывы'},
							{text:'Цены'},
							{text:'Калькулятор лазерной резки'},
							{text:'Контакты'},
						]
					each item in list
						li.footer-menu__item
							a(href="#").footer-menu__link= item.text

				

.move-up.js-move-up
	+svg('ic-arrow-up','ic-arrow-up', '20', '12')

#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__title.js-success-alert-title Спасибо,
			br
			|ваш запрос отправлен!
		.success-alert__text.js-success-alert-text Наш менеджер свяжется с вами в ближайшее время