footer.footer
	.container
		.row
			.col-md-6.col-lg-3
				.footer__logo
					img(src="assets/img/logo.png", alt="")

				.footer__copyright 	&copy; 2021 Простой ремонт

				.footer__polit
					a(href="#") Политика конфиденциальности

			.col-md-6.col-lg-4
				ul.footer-menu
					-
						var list=[
							{text:'Главная'},
							{text:'Наши работы'},
							{text:'Готовы решения'},
							{text:'О нас'},
							{text:'Акции и скидки'},
							{text:'Договор'},
							{text:'Контакты'},
						]
					each item in list
						li.footer-menu__item
							a(href="#").footer-menu__link= item.text

			
			.col-lg-5
				.footer-contacts-wrap
					.footer-contacts
						.footer-contacts__item
							.footer-contacts__label Адрес:
							.footer-contacts__val 124482 г. Зеленоград, проспект генерала Алексеева, корп. 118

						.footer-contacts__item
							.footer-contacts__label Время работы:
							.footer-contacts__val без выходных с 9.00 - 21.00

						.footer-phone
							.footer-phone__icon
								+svg('ic-phone','ic-phone', '19', '20')

							.footer-phone__content
								.footer-phone__item
									a(href="tel:+78005009647") <b>8 (499)</b> 343-30-30

					.footer-action
						a.btn.btn_small(href='#') Позвонить вам?

						.social
							a(href="#").social__item
								+svg('ic-vk','ic-vk', '30', '30')
					
							a(href="#").social__item
								+svg('ic-ok','ic-ok', '30', '30')
					

.move-up.js-move-up
	+svg('ic-arrow-up','ic-arrow-up', '20', '12')

#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__title.js-success-alert-title Спасибо,
			br
			|ваш запрос отправлен!
		.success-alert__text.js-success-alert-text Наш менеджер свяжется с вами в ближайшее время