header.header
	.container
		.row
			.col-12
				.header__content
					.header__logo-wrap
						.header__logo
							img(src="assets/img/logo.png", alt="")

					nav.top-menu.js-top-menu
						.top-menu__close.js-close-menu.d-lg-none
							.ic-hamburger.active
								span

						.top-menu__content
							-
								var list=[
									{link:'#company', text:'О компании'},
									{link:'#our-works', text:'Наши работы'},
									{link:'#reviews', text:'Отзывы'},
									{link:'#contacts', text:'Контакты'},
								]
							each item in list
								.top-menu__item
									a(href=item.link).top-menu__link.js-link-move= item.text

					a.btn.btn_light-blue.btn_small(href='#') КОНСТРУКТОР РЕМОНТА
					
					.header-phone.js-header-phone
						.header-phone__close.js-close-phones.d-lg-none
							.ic-hamburger.active
								span

						.header-phone__content
							.header-phone__icon
								+svg('ic-phone','ic-phone', '16', '17')

							.header-phone__item
								a(href="tel:+78005009647") <b>8 (499)</b> 343-30-30

					.header-action.d-lg-none
						.header-action__item.js-open-phones
							+svg('ic-phone','ic-phone', '16', '17')

						.header-action__item.js-open-menu
							.ic-hamburger
								span